<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="springAppName" source="spring.application.name" defaultValue="parcel-service"/>

    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <message/>
                <stackTrace/>
                <mdc/>
                <context>
                    <keyValuePair>
                        <key>app</key>
                        <value>${springAppName}</value>
                    </keyValuePair>
                </context>
            </providers>
        </encoder>
    </appender>

    <appender name="FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/parcel-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <fileNamePattern>logs/parcel-service.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <message/>
                <stackTrace/>
                <mdc/>
                <context>
                    <keyValuePair>
                        <key>app</key>
                        <value>${springAppName}</value>
                    </keyValuePair>
                </context>
            </providers>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.apache.kafka" level="INFO"/>
    <logger name="com.fiap" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE_JSON"/>
        <appender-ref ref="FILE_JSON"/>
    </root>

</configuration>